{% extends "base.html" %}
{% block title %} About  {% endblock %} 

{% block content %} 
<br>
<!-- <h2 id="notsubtitle">Women in Stem Gallery</h2> -->
<!-- <div class ="container">
    <div class="slideshow">
        <div class="numbertext">1/6</div>
        <img class="slidepics" src="{{ url_for('static', filename = 'mahoney.jpg')}}">
        <br>
        <div class="captionbox">
        <p id="caption">Mary Elizabeth Mahoney </p>
        </div>
    </div>
    <div class="slideshow">
        <div class="numbertext">2/6</div>
        <img class="slidepics" src="{{url_for('static', filename='hopper.jpg')}}">
        <br>
        <div class="captionbox">
        <p id="caption">Mary Hopper</p>
        </div>
    </div>
    <div class="slideshow">
        <div class="numbertext">3/6</div>
        <img class="slidepics" src="{{url_for('static', filename ='wu.jpg')}}">
        <br>
        <div class="captionbox">
        <p id="caption"> Chien-Shiung Wu</p>
        </div>
    </div>
    <div class="slideshow">
        <div class="numbertext">4/6</div>
        <img class="slidepics" src="{{url_for('static', filename='jamison.jpg')}}" >
        <br>
        <div class="captionbox">
        <p id="caption"> Mae Jemison</p>
        </div>
    </div>
    <div class="slideshow">
        <div class="numbertext">5/6</div>
        <img class="slidepics" src="{{url_for('static',filename='ross.jpg')}}" >
        <br>
        <div class="captionbox">
        <p id="caption"> Mary Golda Ross</p>
        </div>

    </div>
    <div class="slideshow">
        <div class="numbertext">6/6</div>
        <img class="slidepics"src="{{url_for('static', filename='karik.jpg')}}">
        <br>
        <div class="captionbox">
        <p id="caption"> Katalin Kariko</p>
    </div>
</div> -->


    <div id="history-wrapper" class="wrapper" style="background-color: white;">

      <div id="history-div" class="box">
        <br>
        <h2 id="HistoryLesson" style="color: black;"> A SHORT HISTORY LESSON </h2> 
        <p id="historypara"> 
          Do you happen to know the first black woman to receive a medical degree? How about the first black woman to get a PhD? Or the first black woman M.D. to finish an ophthalmology residency? As we celebrate the 97th commencement of Black History month in February and the 36th International Women’s History Month the following month, 
          let us briefly recognize several black women who tirelessly dedicated their lives to the pursuit of excellence.<span id="dots">...</span><span id="more">Let us start with Dr. Rebecca Lee Crumpler (1831 to 1895). On March 1, 1864, Dr. Crumpler received a doctress of medicine at the age of 33 from the New England Female Medical College. After practicing in Boston, Massachusetts, Dr. Crumpler moved to Richmond, Virginia to care for freed slaves after the Civil War.
          Dr. Patricia Bath (1942 to 2019) was not only the first African America M.D. to finish an ophthalmology residency (1973), but also the first M.D. to receive a medical patent (for her Laserphaco Probe in 1988) and the first woman to be a faculty member in the UCLA’s Jules Stein Eye Institute under the Department of Ophthalmology.
          As the 1964 valedictorian of her high school class, Dr. Shirley A. Jackson (1946) was accepted to attend the Massachusetts Institute of Technology (MTT) as one of the first African American students to attend and graduate from MIT. In 1973, she earned a Ph.D. in theoretical elementary particle physics, and her thesis was published in Annals of Physics 2 years later.
          Our hope at “The Stem” is for you to plant a strong foundation for your future. Just like the black women before you have done, we hope you can blossom and inspire the next generation to learn from your prowess.
          </span></p>
          <button onclick="readMore()" id="myBtn">Read more</button>
        </p>
      </div>

      <div id="hisotry-slideshow-div">
        <div id="actual-history-slideshow" class ="container">
          <div class="slideshow">
              <div class="numbertext">1/6</div>
              <img class="slidepics" src="{{ url_for('static', filename = 'mahoney.jpg')}}">
              <br>
              <div class="captionbox">
              <p id="caption">Mary Elizabeth Mahoney </p>
              </div>
          </div>
          <div class="slideshow">
              <div class="numbertext">2/6</div>
              <img class="slidepics" src="{{url_for('static', filename='hopper.jpg')}}">
              <br>
              <div class="captionbox">
              <p id="caption">Mary Hopper</p>
              </div>
          </div>
          <div class="slideshow">
              <div class="numbertext">3/6</div>
              <img class="slidepics" src="{{url_for('static', filename ='wu.jpg')}}">
              <br>
              <div class="captionbox">
              <p id="caption"> Chien-Shiung Wu</p>
              </div>
          </div>
          <div class="slideshow">
              <div class="numbertext">4/6</div>
              <img class="slidepics" src="{{url_for('static', filename='jamison.jpg')}}" >
              <br>
              <div class="captionbox">
              <p id="caption"> Mae Jemison</p>
              </div>
          </div>
          <div class="slideshow">
              <div class="numbertext">5/6</div>
              <img class="slidepics" src="{{url_for('static',filename='ross.jpg')}}" >
              <br>
              <div class="captionbox">
              <p id="caption"> Mary Golda Ross</p>
              </div>
      
          </div>
          <div class="slideshow">
              <div class="numbertext">6/6</div>
              <img class="slidepics"src="{{url_for('static', filename='karik.jpg')}}">
              <br>
              <div class="captionbox">
              <p id="caption"> Katalin Kariko</p>
          </div>
      </div>
      </div>
  
    </div>

    <br><br><br><br><br><br><br><br><br>
    <!-- <div id="women-stem-div" style="background-color: transparent;">
      <h2 id="subtitle">WHY WE LOVE BEING WOMEN IN STEM</h2>
      <br>

      <div class="row">
      <div class="column">
        <div class="card">
          <img src="{{url_for('static', filename='amanda.jpeg')}}" alt="Amanda" style="width:100%; height: 10rem;">
          <div class="container-2">
            <h3>Amanda</h3>
            <p class="about-me-p"><span style="font-size: 0.75rem;"><i>Northeastern University</i></span><br>I love opening the eyes of others to new passions & opportunities.</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{{url_for('static', filename='paula.jpg')}}" alt="Paula" style="width:100%; height: 10rem;">
          <div class="container-2">
            <h3>Paula</h3>
            <p class="about-me-p"><span style="font-size: 0.75rem;"><i>Northeastern University</i></span><br>I love seeing myself as a beacon of hope & inspiration.</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="{{url_for('static', filename='sarah.jpg')}}" alt="Sarah" style="width:100%; height: 10rem;">
          <div class="container-2">
            <h3>Sarah</h3>
            <p class="about-me-p"><span style="font-size: 0.75rem;"><i>Howard University</i></span><br>I love uplifting others who bravely follow down my path.</p>
          </div>
        </div>
      </div>
    </div> -->
    



<script>
  let slideIndex = 0;
  showSlides();
  
  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("slideshow");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    
    slides[slideIndex-1].style.display = "block";  
    setTimeout(showSlides, 4000); // Change image every 4 seconds
  }

  function readMore() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>


{% endblock %}