{% extends "base.html" %}
{% block title %} Home {% endblock %} 

{% block content %} 

<br>
<h1 class="title">The <br> STEM</h1>
<br><br>

<button class = "page_links_left" id="about" onclick="document.location='about.html'"> ABOUT</a> </button>
<button class = "page_links_right" id="chooseyourpath"> CHOOSE YOUR PATH</button>
<br><br><br><br>
<!-- Trigger/Open The Modal -->
<button class ="page_links_left" id="myBtn">MAILING LIST</button>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
        <span class="close">&times;
            <div class="container"> 
                <div class="row">
                    <h4 id="mailing-h4">Mailing List</h4>
                    <!-- MAILING LIST FORM -->
                    <form method="POST">
                        <div id="mailing-form-div" class="form-group">
                            <br>
                            <label for="name">Name</label>
                            <input 
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                required />
                            <br>
                            <label for="email">Email Address</label>
                            <input 
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                                required />

                        </div>
                        <button type="submit"
                                class="btn btn-primary" 
                                style="background-color: #eaff82; color: black; 
                                        position:relative; left: 38.5%; width: 8rem;
                                        font-family: 'Quicksand', sans-serif;
                                        font-weight: bold;">
                            JOIN NOW
                        </button>
                        <br>
                    </form>
                </div>
            </div>
        </span>
    </div>
</div>
    
<script>
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    window.onclick = function(event) {
        // Note: If you click on a field in the form
        // and you prematurely press enter, the form
        // will not show :(
        if (event.target == span) {
            modal.style.display = "none";
        }
        else if (event.target == btn) {
            modal.style.display = "block";
        }
        else if (event.target == modal) {
            modal.style.display = "block";
        }
    }
</script>

<button class = "page_links_right" id="resources">RESOURCES <br>AND<br> OPPORTUNITIES</button>
<br><br><br><br><br><br>
<button class="page_links_left" id="join"> JOIN </button>
<button class= "page_links_right" id="contactus">CONTACT US</button>

{% endblock %}
