<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang = "en">
<head>
<title> Home </title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Life+Savers:wght@700&family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Life+Savers:wght@700&family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    
    body{
        background-color:bisque ;
        background-image: url("https://i.pinimg.com/474x/dd/b3/1d/ddb31d64430c6c74995e475d97891bbf.jpg");
        background-attachment: fixed;
    }
    #title{
        text-align: center;
        color: #d5ff80;
        font-size: 600%;
        opacity:1;
        letter-spacing: 4px;
        text-shadow: 4px 4px black;
        font-family: 'Dancing Script', cursive;
        font-family: 'Life Savers', cursive;

     
  
    }
</style>
<h1 id="title"> JOIN</h1>
<br>
<br>
<body>
</body>
</html>