/* STYLING FOR ALL PAGES */
/* --------------------------------------------------------------- */
body{
    background-color:bisque ;
    background-image: url("https://i.pinimg.com/474x/dd/b3/1d/ddb31d64430c6c74995e475d97891bbf.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}
.title{
    text-align: center;
    color: #d5ff80;
    font-size: 600%;
    opacity:1;
    letter-spacing: 4px;
    text-shadow: 4px 4px black;
    font-family: 'Dancing Script', cursive;
    font-family: 'Life Savers', cursive;
}


/* STYLING FOR LOGIN PAGE */
/* --------------------------------------------------------------- */
#login-div {
    width: 23%;
    align-items: center;
    background-color: white;
    display: grid;
    justify-content: center;
    border-radius: 0.5rem;
    position: relative;
    left: 38.5%;
    margin-top: 80px;
}

.form-control {
    width: 100%;
    padding: auto;
    background-color: #7496df;
}


/* STYLING FOR SIGNUP PAGE */
/* --------------------------------------------------------------- */
#signup-div {
    width: 23%;
    align-items: center;
    background-color: white;
    display: grid;
    justify-content: center;
    border-radius: 0.5rem;
    position: relative;
    left: 38.5%;
}


/* STYLING CONTACT PAGE */
/* --------------------------------------------------------------- */
#contact-div {
    width: 32.5%;
    align-items: center;
    background-color: #7496df;
    display: grid;
    justify-content: center;
    border-radius: 0.5rem;
    position: relative;
    left: 45%; 
    top: -15rem;
}

#contact-title {
    position: relative;
    left: -30%;
    top: 5.5rem;
}

#contact-subtitle {
    position: relative;
    left: 13%;
    top: 5.5rem;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}



/* STYLING FOR HOME PAGE */
/* --------------------------------------------------------------- */
.page_links_left{

    background-color:#d5ff80;
    color: black;
    text-align: center;
    border-radius: 12px;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    position: relative;
    float: left;
    clear: left;
}

.page_links_right{
    background-color:#d5ff80;
    color: black;
    text-align: center;
    border-radius: 12px;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Quicksand', sans-serif;
    position:relative;
    float: right;
    clear: right;
}

.clearfix {
    overflow: auto;
}

#about{
    padding-left: 60px;
    padding-right: 60px;
}

#join{
    padding-left: 70px;
    padding-right: 70px;
}

#chooseyourpath {
    padding-left: 30px;
    padding-right: 30px;
}

#contactus{
    padding-left: 60px;
    padding-right: 60px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 40%;
  top: 20%;
  width: 25%;
  overflow: auto; 
  justify-content: center;
  border-radius: 0.75rem;
}


#mailing-form-div {
    width: 200%;
    align-items: center;
    background-color: white;
    display: grid;
    justify-content: center;
    border-radius: 0.5rem;
    position: relative;
    left: -30%;
    font-size: 1vw;
}

#mailing-h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    position: relative;
    left: 26.5%;
}

#mailing-p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
}

/* The Close Button */
.close {
  color: #080808;
  font-weight: bold;
  padding: 1vw;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* STYLING FOR ABOUT PAGE */
/* --------------------------------------------------------------- */

*{
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
.container{
    position: relative;


}
.slideshow{
    display: none;
    float: left;

}
.slidepics{
    width:30%;
    height:20%;

}
.cursor{
    cursor: pointer;
}
.democursor{
    height:100px;
}

.numbertext{
    color:#f2f2f2;
    text-shadow:1px 1px #222;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container{
    text-align: center;
    background-color: #222;
    padding: 8px 16px;
    color: white;
}
.row:after{
    content:"";
    display:table;
    clear:both;

}
.column{
    float:left;
    width: 16.66%;
    height:max-content;


}
.demo{
    opacity:0.6;

}

.active,.demo:hover{
    opacity:1;
}

#title{
    text-align: center;
    color: #d5ff80;
    font-size: 600%;
    opacity:1;
    letter-spacing: 4px;
    text-shadow: 4px 4px black;
    font-family: 'Dancing Script', cursive;
    font-family: 'Life Savers', cursive;  
}
#caption{
    text-align: left;
    color:whitesmoke;
    text-shadow: 2px 2px black;
    padding: 10px;
    background: black;
    background-size: 20%;
    background-position: 0px;
}


#subtitle{
    text-align: center;
    color: #d5ff80;
    font-size: 200%;
    opacity:1;

    text-shadow: 4px 4px black;
    font-family: 'Dancing Script', cursive;
    font-family: 'Life Savers', cursive;  
}
    html {
        box-sizing: border-box;
      }
      
      *, *:before, *:after {
        box-sizing: inherit;
      }
      
      .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }
      
      @media screen and (max-width: 650px) {
        .column {
          width: 100%;
          display: block;
        }
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      
      .container_2 {
        padding: 0 16px;
      }
      
      .container_2::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .school {
        color:black;
      }
      .profilepic{
        border-radius: 50%;
      }
      #notsubtitle{
        text-align: left;
        font-family: 'Dancing Script', cursive;
        font-family: 'Life Savers', cursive; 
        color: whitesmoke;
        text-shadow: 2px 2px black;
      }
      h3{
        color: antiquewhite;
        font-family: 'Dancing Script', cursive;
        text-shadow: 2px 2px black;

      }
      .school{
        color: azure;
        font-weight: bold;
      }
      #HistoryLesson{
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        color: #f2f2f2;
      }
      .box{
        background-color: #f2f2f2;
        opacity: 0.7;
        float:right;
      }
      .wrapper, #histrypr{
        loat:right;
        text-align:righ
      }
      .captionbox{
        float:right;
        text-align:right;
      }




/* STYLING FOR CHOOSE YOUR PATH PAGE */
/* --------------------------------------------------------------- */



/* STYLING FOR RESOURCES PAGE */
/* --------------------------------------------------------------- */#subtitle{
    text-align: left;
    color:#d5ff80;
    font-size:300%;
    opacity: 1;
    text-shadow: 2px 2px black;
    font-family: 'Life Savers', cursive;;
    font-weight: bold;

}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.category1{
    float: left;
    overflow:hidden;

}
.category1,.categories1{
    cursor:pointer;
    font-size: 35px;
    border:none;
    color:white;
    padding: 14px, 16px;
    background-color: inherit;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    align-self: left;
}


.category1:hover, .categories1, .categories1:focus{
    background-color: blue;
}
.educational-categories {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.educational-categories a{
    float:none;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;

}
.educational-categories a:hover{
    background-color: #ddd;
}
.show{
    display:block;
}
.category2{
    float: left;
    overflow:hidden;
}
.category2, .categories2{
    cursor:pointer;
    font-size: 35px;
    border:none;
    color:white;
    padding: 14px, 16px;
    background-color: inherit;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    align-self: left;
}
.category2:hover, .categories2, .categories2:focus{
    background-color: blue;
}
.opportunity-categories {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.opportunity-categories a{
    float:none;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;

}
.show2{
    display:block;
}
.opportunity-categories a:hover{
    background-color: #ddd;
}
.filter{
    float: left;
    overflow:hidden;
}
.filter, .stem-filter{
    cursor:pointer;
    font-size: 16px;
    border:none;
    color:white;
    padding: 14px, 16px;
    background-color: inherit;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    align-self: left;
}
.stem-categories a{
    float:none;
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}
.stem-categories a:hover{
    background-color: #ddd;

}\